@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DinoPro";
  src: url("/font/DINPro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DinoPro";
  src: url("/font/DINPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "DinoPro", sans-serif;
}

.bg-image {
  background-image: url("/assets/dots_t.png");
  background-repeat: no-repeat;
}

.bg-image-pixels {
  background-image: url("/assets/footer-pixels.png");
  background-repeat: no-repeat;
  background-position: center;
}
